
.banner-bandera{
 width: 100%;
 height: auto;
 display: block;
}

.logo-Cat{
 position: fixed;
 top: 10px;                 /* distancia al borde superior */
 left: 50px;                /* distancia al borde izquierdo */
 width: clamp(64px, 20vw, 120px);
 height: auto;
}

.images{
  display:flex;
  justify-content: center; /*centrado horizontalmente */
  gap: 20px;
  margin: 20px 0;
  /* max-width:300px;
  width:100%;
  margin:12px auto 18px;
  border-radius:5px; */
}

.imagenes img{
  width: 250px;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}


body{
 font-family:Georgia, 'Times New Roman', Times, serif;
 background-color: #f2f2f2;
 color: #333;
 margin: 10;
 padding: 20px;

}

header{
  background-color: hwb(61 8% 9%);
  background-color: #f4f7a6;
  color: rgb(0, 0, 0);
  padding: 15px;
  text-align: center;

}

p{
    font-size: 20px;
}
 
/* contenedor que agrupa las tarjetas */
.tarjetas {
  display: flex;
  justify-content: center;
  justify-content: center; /* Centra las tarjetas horizontalmente en la fila */
  gap: 20px; /* Espacio entre cada tarjeta */
  background-color: #f4f7a6;
  padding: 20px;
  border-radius: 8px;
  margin: 40px 0; /* Espacio arriba y abajo para separar la sección */
}

/* Estilo para cada tarjeta individual */
.tarjeta {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  max-width: 300px;
  flex: 1 1 300px; /* Define el ancho máximo de cada tarjeta y se ajuste*/
}

/* Estilos para las imágenes de las tarjetas */
.tarjeta img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

/* El resto de tus estilos de texto (h3, p, a) */
.tarjeta h3 {
  margin: 15px 0 10px;
  color: #333;
}

.tarjeta p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.tarjeta a {
  display: inline-block;
  background-color: #ffc400;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.tarjeta a:hover {
  background-color: #ffdb58;
}